<!-- <div id="background">
<mat-toolbar color="primary">
    <span>Naucna centrala</span>
    <span class="fill"></span>  
    <span (click)="logoutFunc()">Log out</span>
</mat-toolbar>
</div> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-light">NAUCNA CENTRALA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav navbar-right  mr-5">
        <li class="nav-item">
        </li>
        <li class="mx-5 px-5">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>
    </ul>
    <div class="row w-50 ml-5 pl-5 d-flex justify-content-end">
        <button class="btn btn-outline-light" style="margin-left: 80%" (click)="logout()">Odjavi se</button>
    </div>
</nav><br>

<div>
    <button mat-raised-button class="btn btn-blue" *ngIf="type=='editor'" (click)="magForm()">Kreiraj casopis</button>
</div>
<div>
    <mat-card class="mt-2" *ngFor="let task of tasks">
        <!-- <mat-card-header>
            <mat-card-title> {{task.title}} </mat-card-title>
            <mat-card-subtitle>{{task.assignee}}</mat-card-subtitle>
        </mat-card-header> -->
        <!-- <mat-card-content>
            {{task.name}}
        </mat-card-content> -->
        <mat-card-actions>
            <button mat-raised-button (click)="complete(task)">Pokreni</button>
        </mat-card-actions>
    </mat-card>
</div>